:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  
  
}
.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
 
} 

a { 
  color: rgb(172, 170, 170);
}
a:hover {
   color: rgb(172, 170, 170)
}


.container{
  display: grid;

}

.cart{
  text-align: right;

}
body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5)
}

.card {

  width: 20rem;
  margin: 1.5rem;
  
}
/* .card:last-of-type {
  margin-right: 0;
} */
.card:hover{

  box-shadow: 5px 10px 20px 1px rgba(red, green, blue, alpha) !important
}

.card-body{
  padding: 3rem 0 !important;


}

.card-text{
  font-size: .9rem;
  padding: 0.4rem

}

.container-fluid-row{
  padding-top: 6rem
}

.card-img-top{
  transform:scale(1)
}

.card-img-top:hover{
  transform:scale(1.2)
}

#nav-btn{
  /* background: transparent; */
  border: none;
  cursor: pointer;
  outline: none;

}

.nav-links{
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;


}
.show-nav {
  height: 100px;
}

.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
#order-bar{
  position: relative;
  right: -1000x;
  box-shadow: 3px 3px 5px 6px #ccc;

}

#cart{
  float:right;
  
}

#shoe-card{
  box-shadow: 3px 3px 5px 6px #ccc;


}

#store-name{
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding: 1px;
  font-weight: 100;
  position: relative;
  background: -webkit-linear-gradient(left, black, #eee, black);
  background: -moz-linear-gradient(left, black, #eee, black);
  background: -ms-linear-gradient(left, black, #eee, black);
  background: -o-linear-gradient(left, black, #eee, black);

}

#order-page{
  margin-top: 25px;

}






